<%- include('../partials/header.ejs') %>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <h1>Add a TV Show to Disney</h1>
    <form action="/disney" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Hannah Montana">
        <label for="synopsis">Synopsis</label>
        <input type="text" name="synopsis" placeholder="Adventures of a teenage pop star who keeps her identity secret from even her closest friends by using a disguise on-stage.">
        <label for="img">Image</label>
        <input type="text" name="img" placeholder="https://pbs.twimg.com/media/FqQZb7KWAAQCF6q.jpg">
        <label for="genre">Genre</label>
        <input type="text" name="genre" placeholder="Comedy, Sitcom">
        <label for="seasons">Season</label>
        <input type="text" name="seasons" placeholder="One">
        <label for="year">Year</label>
        <input type="number" name="year" placeholder="2006">
        <label for="episodes">Episode</label>
        <input type="text" name="episodes" placeholder="Lilly, Do You Want to Know a Secret?">
        <input type="submit" value="Add TV Show">
    </form>
    <input type="button" value="Back" onclick="goBack()">

<%- include('../partials/footer.ejs') %>