<div class='footerLinks'>
    <footer class='footer'>
        <a href="#">Contact us |</a>
        <a href="#">Seed |</a>
        <a href="#">Feedback</a>
        <h4> Copyright © 2023 Sofa Spud, Inc.</h4>
    </footer>
</div>
</body>

</html>