<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
    <script src="/scripts/app.js" defer></script>
    <script src="/scripts/new.js" defer></script>
    <title>Sofa Spud</title>
</head>

<body>
    <nav class="navBar">
        <a class="nav" href="/login">Log In</a>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/netflix">Netflix</a>
        <a class="nav" href="/hulu">Hulu</a>
        <a class="nav" href="/disney">Disney</a>
        <a class="nav" href="/signup">Sign Up</a>
        <a class="nav" href="/logout">Logout</a>
        <div id="welcome-user">
            <% if(typeof user !=='undefined' ) { %>
                <h2>🛋️ Welcome, <%= user %>!</h2>
           <% } else { %>
                <h2>Welcome, Stranger!</h2>
           <% } %>
        </div>
    </nav>