<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/app.js" defer></script>
    <title>Sofa Spud</title>
</head>
<body>
        <nav id = 'navBar'>
            <a class = 'nav' href="/login">Log In</a>
            <a class = 'nav' href="/">Home</a>
            <a class = 'nav' href="/netflix">Netflix</a>
            <a class = 'nav' href="/hulu">Hulu</a>
            <a class = 'nav' href="/disney">Disney</a>
            <a class = 'nav' href="/signup">Sign Up</a>
            <a class = 'nav' href="/logout">Logout</a>
            <div>
                <% if(typeof username !== 'undefined') { %>
                    <h2>Welcome, <%= username %></h2>
                    <% } %>
                </div>
    </nav>