<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/app.js" defer></script>
    <title>Sofa Spud</title>
</head>
<body>
    <nav>
        <a href="/login">Log In</a>
        <a href="/">Home</a>
        <a href="/netflix">Netflix</a>
        <a href="/hulu">Hulu</a>
        <a href="/disney">Disney</a>
        <a href="/signup">Sign Up</a>
        <a href="/logout">Logout</a>
    </nav>