<%- include('./partials/header.ejs') %>
    <div class="pageNotFound">
        <h1 id="errorHeading">404</h1>
        <h1>Page Not Found</h1>
        <div class="errorImage">
            <img src="https://static.tumblr.com/88a5619940ac7ccfb93ae03af501d8c7/94mkn3w/045q1vhao/tumblr_static_tumblr_static__focused_v3.jpg" alt="Image of a Cartoon Potato">
        </div>  
    </div>
    <br>
<%- include('./partials/footer.ejs') %>