<%- include('./partials/header.ejs', {name: "Sofa Spud"}) %>

<h1 class = homeTitle>
    Sofa Spud
</h1>
<h2>Coming Soon...</h2>
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkm4Kj2xRxS6b9zUF4sO9hi2A3pNHFegTG7g&usqp=CAU">
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBDd3xzIDpnEUpLtYbESESk7Cx3SNdmVwJhg&usqp=CAU">
<img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtKISuO0AckXolFmogf_Z4ozZ6vNsh_Z6FQA&usqp=CAU">