<%- include('./partials/header.ejs', {name: "Sofa Spud"}) %>
<div class = 'homeLogo'>
    <div id="spudPic">
        <img src="images/croppedSpud.png" alt="spud">
    </div>
    <h2 class="homeTitle">Sofa Spud</h2>
</div>
<div class = 'carouselContainer'>
    <h2>Coming Soon...</h2>
        <div id = 'comingSoonTiles'>
                <img class = 'slide' src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6duzPhjRBL7C9_hHcPzHHECjuWZP2h44dWA&usqp=CAU" alt = 'netflixTile'>
        
                <img class = 'slide' src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC58gLyCiVHT99M4OPThBmWhbToFw1YCU1hw&usqp=CAU" alt = 'huluTile'>
         
                <img class = 'slide' src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTG4hu0opFyQS7_4B99FCR1JA9nRjKR2m1Etw&usqp=CAU" alt = 'disneyTile'>
            <br>
            </div>
    
    </div>

<%- include('./partials/footer.ejs') %>