<%- include('./partials/header.ejs', {name: "Sofa Spud"}) %>

<h1 class = homeTitle>
    Sofa Spud
</h1>
<h2>Coming Soon...</h2>
<div class = 'carousel'>
    <h1>
        <ul id = 'comingSoonTiles'>
            <li class = 'netflixComingSoon'>
            </li><br>
            <li class = 'huluComingSoon'>
            </li><br>
            <li class = 'disneyComingSoon'>
            </li><br>
        </ul>
    </h1>
    </div>

<%- include('./partials/footer.ejs') %>