
body{
    margin: 0;
}

.carouselContainer {
    overflow: hidden;
    width: 95vw;
    margin: 0 auto;    
    position: relative;
}

#comingSoonTiles{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center;
    position: relative;
    background-color: darkslategrey; */
    transition: all 500ms ease;
}


.slide {
    min-width: 100%;
    height: auto;
    list-style: none;
}

img {
    height: auto;
    width: 300px;
}