<%- include('../partials/header.ejs') %>

    <div id="spudPic">
        <img src="images/croppedSpud.png" alt="spud">
    </div>
    <div class="loginContainer">
        <h1 class="loginTitle">Login to your account</h1>
        <br>
        <a href="/signup">
            <h3>Don't have an account? Sign Up</h3>
        </a>
        <div class="loginForm">
            <form method="POST" action="/login">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="something@email.com" required>
                <label for="password">Password:</label>
                <input type="password" name="password" class="password" rows="4" required>
                <span class="toggle-btn"></span>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
    <script>
        const password = document.querySelector('.password');
        const toggleBtn = document.querySelector('.toggle-btn');
        // Show/hide password
        toggleBtn.onclick = function() {
            if(password.type === 'password') {
                password.setAttribute('type', 'text');
                toggleBtn.classList.add('hide');
            } else {
                password.setAttribute('type', 'password')
                toggleBtn.classList.remove('hide');
            }
        };
        </script>

<%- include('../partials/footer.ejs') %>