<%- include('../partials/header.ejs') %>

    <div id="spudPic">
        <img src="images/croppedSpud.png" alt="spud">
    </div>
    <div class="loginContainer">
        <h1 class="loginTitle">Login to your account</h1>
        <br>
        <a href="/signup">
            <h3>Don't have an account? Sign Up</h3>
        </a>
        <div class="loginForm">
            <form method="POST" action="/login">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="something@email.com" required>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>