<%- include('../partials/header.ejs') %>

<div id="spudPic">
    <img src="images/croppedSpud.png" alt="spud">
</div>
<div class="newAccountContainer">
    <h1 class="newAccountTitle">Create a new account</h1>
    <a href="/login"><h3>Already have an account? Login</h3></a>
    <form class="createAccountForm" method="POST" action="/signup">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="something@email.com" required>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" class="password" required>
        <span class="toggle-btn"></span>
        <input type="submit" value="Create an account">
    </form>
</div>
<script>
const password = document.querySelector('.password');
const toggleBtn = document.querySelector('.toggle-btn');
// Show/hide password
toggleBtn.onclick = function() {
    if(password.type === 'password') {
        password.setAttribute('type', 'text');
        toggleBtn.classList.add('hide');
    } else {
        password.setAttribute('type', 'password')
        toggleBtn.classList.remove('hide');
    }
};
</script>
<%- include('../partials/footer.ejs') %>