<%- include('../partials/header.ejs') %>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <h1>Add a TV Show to Hulu</h1>
    <form action="/hulu" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="The Dropout">
        <label for="synopsis">Synopsis</label>
        <input type="text" name="synopsis" placeholder="TV series that chronicles Theranos founder Elizabeth Holmes' attempt to revolutionize the healthcare industry after dropping out of college and starting a technology company.">
        <label for="img">Image</label>
        <input type="text" name="img" placeholder="https://cdn.firstcuriosity.com/wp-content/uploads/2023/03/14000019/IMG_COM_20230313_2205_47_9503-696x522.jpg">
        <label for="genre">Genre</label>
        <input type="text" name="genre" placeholder="Drama, True Crime">
        <label for="seasons">Season</label>
        <input type="text" name="seasons" placeholder="One">
        <label for="year">Year</label>
        <input type="number" name="year" placeholder="2022">
        <label for="episodes">Episode</label>
        <input type="text" name="episodes" placeholder="I'm in a Hurry">
        <input type="submit" value="Add TV Show">
    </form>
    <input type="button" value="Back" onclick="goBack()">

<%- include('../partials/footer.ejs') %>